In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

In [38]:
movies_df=pd.read_excel("Bollywood_movie_imdb_ID.xlsx")

In [40]:
movies_df

,Movie Title,IMDB ID,title,Ratinng,Release Date,Genre,Cast,story,keywords,reviews,age,Review_keywords
0,3 Idiots,tt1187043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Taare Zameen Par,tt0986264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PK,tt2338151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dangal,tt5074352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Rang De Basanti,tt0405508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3993,Mehmaan,tt8215918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3994,Sorry Daddy,tt36005951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3995,Raadha Aur Seeta,tt0378633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3996,Dafaa 302,tt0359129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3997,Calapor,tt3311236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
bolly_movies=movies_df.copy()

In [44]:
bolly_movies

,Movie Title,IMDB ID,title,Ratinng,Release Date,Genre,Cast,story,keywords,reviews,age,Review_keywords
0,3 Idiots,tt1187043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Taare Zameen Par,tt0986264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PK,tt2338151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dangal,tt5074352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Rang De Basanti,tt0405508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3993,Mehmaan,tt8215918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3994,Sorry Daddy,tt36005951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3995,Raadha Aur Seeta,tt0378633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3996,Dafaa 302,tt0359129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3997,Calapor,tt3311236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
bolly_movies.dtypes

Movie Title         object
IMDB ID             object
title              float64
Ratinng            float64
Release Date       float64
Genre              float64
Cast               float64
story              float64
keywords           float64
reviews            float64
age                float64
Review_keywords    float64
dtype: object

In [48]:
bolly_movies.shape

(3998, 12)

In [50]:
bolly_movies.isna().sum()

Movie Title           0
IMDB ID               0
title              3998
Ratinng            3998
Release Date       3998
Genre              3998
Cast               3998
story              3998
keywords           3998
reviews            3998
age                3998
Review_keywords    3998
dtype: int64

In [52]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

def get_movie_details(imdb_id):
    try:
        headers = {"User-Agent": "Mozilla/5.0"}
        url = f"https://www.imdb.com/title/{imdb_id}/"
        response = requests.get(url, headers=headers)
        soup = BeautifulSoup(response.text, "html.parser")

        movie = soup.find("main", class_="ipc-page-wrapper ipc-page-wrapper--base")

        movie_name = movie.find("span", class_="hero__primary-text").text
        movie_rating = movie.find("div", class_="sc-4dc495c1-0 fUqjJu").span.text
        movie_year = movie.find("ul", class_="ipc-inline-list ipc-inline-list--show-dividers sc-cb6a22b2-2 aFhKV baseAlt baseAlt").li.a.text

        # Duration
        duration = None
        details = soup.find('ul', class_='ipc-inline-list ipc-inline-list--show-dividers sc-cb6a22b2-2 aFhKV baseAlt baseAlt')
        if details:
            items = details.find_all('li')
            for item in items:
                text = item.get_text(strip=True)
                if 'h' in text or 'm' in text:
                    duration = text
                    break

        # Genres
        genres = []
        movie_gen = movie.find_all("a", class_="ipc-chip ipc-chip--on-baseAlt")
        for g in movie_gen:
            genres.append(g.find("span", class_="ipc-chip__text").text)

        # Cast
        cast_list = []
        movie_cast = movie.find_all("div", class_="sc-10bde568-5 dWhYSc")
        for c in movie_cast:
            cast = c.find("div", class_="sc-10bde568-7 bhMzVl").a.text
            cast_list.append(cast)  

        return {
            "IMDB ID": imdb_id,
            "Movie Name": movie_name,
            "Rating": movie_rating,
            "Year": movie_year,
            "Duration": duration,
            "Genres": genres,
            "Cast": cast_list
        }

    except Exception as e:
        print(f"Error for {imdb_id}: {e}")
        return {
            "IMDB ID": imdb_id,
            "Movie Name": None,
            "Rating": None,
            "Year": None,
            "Duration": None,
            "Genres": [],
            "Cast": []
        }

In [54]:
# Assume your DataFrame is called df and has a column 'IMDB ID'
all_data = []

for imdb_id in bolly_movies['IMDB ID']:
    if pd.notnull(imdb_id): #notnull() is a function used to check whether a value is not missing (NaN).
        details = get_movie_details(imdb_id)
        all_data.append(details)
        time.sleep(1)  # Be nice to the server, avoid 429 rate limit

# Convert to DataFrame
Bolly_movies_det_df= pd.DataFrame(all_data)

Error for tt0105937: 'NoneType' object has no attribute 'text'
Error for tt24250998: 'NoneType' object has no attribute 'span'
Error for tt2085059: 'NoneType' object has no attribute 'text'
Error for tt23872886: 'NoneType' object has no attribute 'text'
Error for tt7493974: 'NoneType' object has no attribute 'text'
Error for tt0898266: 'NoneType' object has no attribute 'text'
Error for tt29868937: 'NoneType' object has no attribute 'span'
Error for tt19244304: 'NoneType' object has no attribute 'span'
Error for tt34569030: 'NoneType' object has no attribute 'text'
Error for tt30972834: 'NoneType' object has no attribute 'span'
Error for tt1833285: 'NoneType' object has no attribute 'text'
Error for tt33014566: 'NoneType' object has no attribute 'text'
Error for tt3561180: 'NoneType' object has no attribute 'text'
Error for tt27412560: 'NoneType' object has no attribute 'text'
Error for tt2660806: 'NoneType' object has no attribute 'text'
Error for tt37544113: 'NoneType' object has no attribute 'span'
Error for tt37500308: 'NoneType' object has no attribute 'text'
Error for tt28118211: 'NoneType' object has no attribute 'text'
Error for tt16098700: 'NoneType' object has no attribute 'text'
Error for tt12943690: 'NoneType' object has no attribute 'span'
Error for tt35417736: 'NoneType' object has no attribute 'text'
Error for tt1595859: 'NoneType' object has no attribute 'text'
Error for tt10075030: 'NoneType' object has no attribute 'span'
Error for tt30037031: 'NoneType' object has no attribute 'span'
Error for tt14993810: 'NoneType' object has no attribute 'text'
Error for tt2403201: 'NoneType' object has no attribute 'text'
Error for tt7162800: 'NoneType' object has no attribute 'span'
Error for tt36726081: 'NoneType' object has no attribute 'text'
Error for tt9460980: 'NoneType' object has no attribute 'text'
Error for tt28206749: 'NoneType' object has no attribute 'span'
Error for tt13016388: 'NoneType' object has no attribute 'text'
Error for tt0813715: 'NoneType' object has no attribute 'text'
Error for tt36647444: 'NoneType' object has no attribute 'text'
Error for tt5648202: 'NoneType' object has no attribute 'text'
Error for tt27441481: 'NoneType' object has no attribute 'span'
Error for tt0944947: 'NoneType' object has no attribute 'text'
Error for tt2378794: 'NoneType' object has no attribute 'text'
Error for tt14533970: 'NoneType' object has no attribute 'text'
Error for tt0182576: 'NoneType' object has no attribute 'text'
Error for tt5611024: 'NoneType' object has no attribute 'text'
Error for tt33097900: 'NoneType' object has no attribute 'text'
Error for tt29921070: 'NoneType' object has no attribute 'text'
Error for tt37439438: 'NoneType' object has no attribute 'text'
Error for tt27470250: 'NoneType' object has no attribute 'text'
Error for tt1844624: 'NoneType' object has no attribute 'text'
Error for tt0098878: 'NoneType' object has no attribute 'text'
Error for tt0157571: 'NoneType' object has no attribute 'text'
Error for tt27793058: 'NoneType' object has no attribute 'text'
Error for tt33484749: 'NoneType' object has no attribute 'span'
Error for tt28434292: 'NoneType' object has no attribute 'text'
Error for tt36984507: 'NoneType' object has no attribute 'text'
Error for tt15731198: 'NoneType' object has no attribute 'span'
Error for tt33043892: 'NoneType' object has no attribute 'text'
Error for tt18333714: 'NoneType' object has no attribute 'span'
Error for tt35678505: 'NoneType' object has no attribute 'span'
Error for tt0960141: 'NoneType' object has no attribute 'text'
Error for tt8199972: 'NoneType' object has no attribute 'text'
Error for tt30469812: 'NoneType' object has no attribute 'text'
Error for tt30037031: 'NoneType' object has no attribute 'span'
Error for tt5216628: 'NoneType' object has no attribute 'span'
Error for tt3666564: 'NoneType' object has no attribute 'text'
Error for tt29380987: 'NoneType' object has no attribute 'text'
Error for tt10999922: 'NoneType' object has no attribute 'text'
Error for tt4499570: 'NoneType' object has no attribute 'text'
Error for tt0251497: 'NoneType' object has no attribute 'text'
Error for tt2943834: 'NoneType' object has no attribute 'text'
Error for tt6366300: 'NoneType' object has no attribute 'span'
Error for tt23790696: 'NoneType' object has no attribute 'span'
Error for tt26750284: 'NoneType' object has no attribute 'text'
Error for tt36871212: 'NoneType' object has no attribute 'text'
Error for tt28331588: 'NoneType' object has no attribute 'span'
Error for tt0472954: 'NoneType' object has no attribute 'text'
Error for tt9081546: 'NoneType' object has no attribute 'span'
Error for tt12826712: 'NoneType' object has no attribute 'span'
Error for tt1706629: 'NoneType' object has no attribute 'span'
Error for tt5834204: 'NoneType' object has no attribute 'text'
Error for tt0401916: 'NoneType' object has no attribute 'text'
Error for tt35360114: 'NoneType' object has no attribute 'span'
Error for tt0231434: 'NoneType' object has no attribute 'span'
Error for tt4455902: 'NoneType' object has no attribute 'text'
Error for tt28454758: 'NoneType' object has no attribute 'text'
Error for tt1592812: 'NoneType' object has no attribute 'text'
Error for tt27838483: 'NoneType' object has no attribute 'text'
Error for tt4158110: 'NoneType' object has no attribute 'text'
Error for tt0452046: 'NoneType' object has no attribute 'text'
Error for tt34365591: 'NoneType' object has no attribute 'span'
Error for tt31888831: 'NoneType' object has no attribute 'span'
Error for tt15235948: 'NoneType' object has no attribute 'text'
Error for tt37543488: 'NoneType' object has no attribute 'span'
Error for tt13649036: 'NoneType' object has no attribute 'text'
Error for tt28331588: 'NoneType' object has no attribute 'span'
Error for tt27809007: 'NoneType' object has no attribute 'text'
Error for tt0083018: 'NoneType' object has no attribute 'text'
Error for tt8760932: 'NoneType' object has no attribute 'text'
Error for tt21357868: 'NoneType' object has no attribute 'span'
Error for tt4116046: 'NoneType' object has no attribute 'text'
Error for tt30334336: 'NoneType' object has no attribute 'span'
Error for tt32267726: 'NoneType' object has no attribute 'span'
Error for tt36632077: 'NoneType' object has no attribute 'span'
Error for tt28106730: 'NoneType' object has no attribute 'text'
Error for tt1846278: 'NoneType' object has no attribute 'text'
Error for tt32656057: 'NoneType' object has no attribute 'span'
Error for tt11191326: 'NoneType' object has no attribute 'span'
Error for tt27252306: 'NoneType' object has no attribute 'text'
Error for tt34678500: 'NoneType' object has no attribute 'text'
Error for tt2827516: 'NoneType' object has no attribute 'text'
Error for tt3811418: 'NoneType' object has no attribute 'text'
Error for tt35667223: 'NoneType' object has no attribute 'text'
Error for tt14972608: 'NoneType' object has no attribute 'text'
Error for tt5281462: 'NoneType' object has no attribute 'span'
Error for tt13729162: 'NoneType' object has no attribute 'text'
Error for tt11012288: 'NoneType' object has no attribute 'span'
Error for tt18969070: 'NoneType' object has no attribute 'text'
Error for tt22015480: 'NoneType' object has no attribute 'text'
Error for tt15450776: 'NoneType' object has no attribute 'span'
Error for tt13129104: 'NoneType' object has no attribute 'text'
Error for tt37455125: 'NoneType' object has no attribute 'text'
Error for tt28106730: 'NoneType' object has no attribute 'text'
Error for tt22015488: 'NoneType' object has no attribute 'text'
Error for tt30768165: 'NoneType' object has no attribute 'text'
Error for tt32613166: 'NoneType' object has no attribute 'span'
Error for tt9045374: 'NoneType' object has no attribute 'text'
Error for tt36958075: 'NoneType' object has no attribute 'text'
Error for tt7056864: 'NoneType' object has no attribute 'text'
Error for tt0231434: 'NoneType' object has no attribute 'span'
Error for tt21438786: 'NoneType' object has no attribute 'span'
Error for tt32295747: 'NoneType' object has no attribute 'span'
Error for tt13899566: 'NoneType' object has no attribute 'text'
Error for tt0086765: 'NoneType' object has no attribute 'text'
Error for tt0816382: 'NoneType' object has no attribute 'text'
Error for tt6742294: 'NoneType' object has no attribute 'text'
Error for tt21267694: 'NoneType' object has no attribute 'text'
Error for tt27669258: 'NoneType' object has no attribute 'span'
Error for tt27665537: 'NoneType' object has no attribute 'span'
Error for tt16410434: 'NoneType' object has no attribute 'text'
Error for tt19788500: 'NoneType' object has no attribute 'text'
Error for tt36986398: 'NoneType' object has no attribute 'text'
Error for tt12747638: 'NoneType' object has no attribute 'span'
Error for tt35671329: 'NoneType' object has no attribute 'text'
Error for tt27669298: 'NoneType' object has no attribute 'text'
Error for tt6906338: 'NoneType' object has no attribute 'span'
Error for tt30643592: 'NoneType' object has no attribute 'span'
Error for tt0182637: 'NoneType' object has no attribute 'text'
Error for tt6627624: 'NoneType' object has no attribute 'text'
Error for tt21058204: 'NoneType' object has no attribute 'text'
Error for tt2764752: 'NoneType' object has no attribute 'text'
Error for tt37537307: 'NoneType' object has no attribute 'span'
Error for tt14533970: 'NoneType' object has no attribute 'text'
Error for tt36751842: 'NoneType' object has no attribute 'text'
Error for tt31260989: 'NoneType' object has no attribute 'span'
Error for tt33310385: 'NoneType' object has no attribute 'text'
Error for tt0390732: 'NoneType' object has no attribute 'span'
Error for tt18070898: 'NoneType' object has no attribute 'text'
Error for tt11785862: 'NoneType' object has no attribute 'span'
Error for tt35667223: 'NoneType' object has no attribute 'text'
Error for tt12264352: 'NoneType' object has no attribute 'text'
Error for tt16751542: 'NoneType' object has no attribute 'span'
Error for tt0182468: 'NoneType' object has no attribute 'text'
Error for tt36727307: 'NoneType' object has no attribute 'span'
Error for tt28057495: 'NoneType' object has no attribute 'text'
Error for tt0216000: 'NoneType' object has no attribute 'text'
Error for tt24031860: 'NoneType' object has no attribute 'text'
Error for tt28281742: 'NoneType' object has no attribute 'text'
Error for tt7053188: 'NoneType' object has no attribute 'text'
Error for tt2404721: 'NoneType' object has no attribute 'text'
Error for tt1876868: 'NoneType' object has no attribute 'text'
Error for tt35064818: 'NoneType' object has no attribute 'text'
Error for tt12257626: 'NoneType' object has no attribute 'span'
Error for tt10745584: 'NoneType' object has no attribute 'text'
Error for tt8779792: 'NoneType' object has no attribute 'text'
Error for tt15815172: 'NoneType' object has no attribute 'span'
Error for tt37023352: 'NoneType' object has no attribute 'text'
Error for tt37353578: 'NoneType' object has no attribute 'span'
Error for tt28281742: 'NoneType' object has no attribute 'text'
Error for tt0989775: 'NoneType' object has no attribute 'text'
Error for tt0162065: 'NoneType' object has no attribute 'text'
Error for tt35518951: 'NoneType' object has no attribute 'text'
Error for tt10742800: 'NoneType' object has no attribute 'text'
Error for tt1634526: 'NoneType' object has no attribute 'text'
Error for tt1986813: 'NoneType' object has no attribute 'span'
Error for tt14820482: 'NoneType' object has no attribute 'text'
Error for tt9710650: 'NoneType' object has no attribute 'text'
Error for tt36709243: 'NoneType' object has no attribute 'text'
Error for tt33364212: 'NoneType' object has no attribute 'span'
Error for tt8749198: 'NoneType' object has no attribute 'text'
Error for tt0318562: 'NoneType' object has no attribute 'span'
Error for tt0444983: 'NoneType' object has no attribute 'text'
Error for tt2698460: 'NoneType' object has no attribute 'span'
Error for tt37563467: 'NoneType' object has no attribute 'span'
Error for tt32292401: 'NoneType' object has no attribute 'text'
Error for tt8925506: 'NoneType' object has no attribute 'text'
Error for tt3418990: 'NoneType' object has no attribute 'text'
Error for tt2014294: 'NoneType' object has no attribute 'span'
Error for tt7448208: 'NoneType' object has no attribute 'text'
Error for tt3890300: 'NoneType' object has no attribute 'text'
Error for tt35443400: 'NoneType' object has no attribute 'text'
Error for tt10590436: 'NoneType' object has no attribute 'text'
Error for tt14972608: 'NoneType' object has no attribute 'text'
Error for tt33478422: 'NoneType' object has no attribute 'span'
Error for tt12452406: 'NoneType' object has no attribute 'text'
Error for tt1353093: 'NoneType' object has no attribute 'text'
Error for tt2951562: 'NoneType' object has no attribute 'text'
Error for tt1492090: 'NoneType' object has no attribute 'text'
Error for tt3212600: 'NoneType' object has no attribute 'text'
Error for tt4907940: 'NoneType' object has no attribute 'text'
Error for tt11591580: 'NoneType' object has no attribute 'text'
Error for tt2560140: 'NoneType' object has no attribute 'text'
Error for tt33484271: 'NoneType' object has no attribute 'span'
Error for tt0401916: 'NoneType' object has no attribute 'text'
Error for tt36507686: 'NoneType' object has no attribute 'text'
Error for tt0456800: 'NoneType' object has no attribute 'text'
Error for tt29438133: 'NoneType' object has no attribute 'span'
Error for tt12788754: 'NoneType' object has no attribute 'text'
Error for tt29361747: 'NoneType' object has no attribute 'span'
Error for tt21331948: 'NoneType' object has no attribute 'span'
Error for tt0944947: 'NoneType' object has no attribute 'text'
Error for tt5581432: 'NoneType' object has no attribute 'text'
Error for tt0118297: 'NoneType' object has no attribute 'text'
Error for tt0091233: 'NoneType' object has no attribute 'text'
Error for tt8706902: 'NoneType' object has no attribute 'text'
Error for tt28856885: 'NoneType' object has no attribute 'text'
Error for tt0060028: 'NoneType' object has no attribute 'text'
Error for tt36966906: 'NoneType' object has no attribute 'span'
Error for tt0246700: 'NoneType' object has no attribute 'span'
Error for tt17065486: 'NoneType' object has no attribute 'text'
Error for tt21245840: 'NoneType' object has no attribute 'text'
Error for tt11784676: 'NoneType' object has no attribute 'text'
Error for tt31013650: 'NoneType' object has no attribute 'span'
Error for tt6352572: 'NoneType' object has no attribute 'span'
Error for tt26787362: 'NoneType' object has no attribute 'span'
Error for tt35674392: 'NoneType' object has no attribute 'span'
Error for tt9420618: 'NoneType' object has no attribute 'text'
Error for tt9543718: 'NoneType' object has no attribute 'text'
Error for tt28641477: 'NoneType' object has no attribute 'text'
Error for tt36751842: 'NoneType' object has no attribute 'text'
Error for tt29244333: 'NoneType' object has no attribute 'span'
Error for tt28630806: 'NoneType' object has no attribute 'span'
Error for tt30623906: 'NoneType' object has no attribute 'span'
Error for tt35826397: 'NoneType' object has no attribute 'span'
Error for tt1934806: 'NoneType' object has no attribute 'text'
Error for tt35950180: 'NoneType' object has no attribute 'span'
Error for tt9814458: 'NoneType' object has no attribute 'text'
Error for tt10635440: 'NoneType' object has no attribute 'span'
Error for tt35568239: 'NoneType' object has no attribute 'text'
Error for tt7631058: 'NoneType' object has no attribute 'text'
Error for tt26673551: 'NoneType' object has no attribute 'span'
Error for tt0250353: 'NoneType' object has no attribute 'span'
Error for tt30623906: 'NoneType' object has no attribute 'span'
Error for tt13771814: 'NoneType' object has no attribute 'text'
Error for tt32292401: 'NoneType' object has no attribute 'text'
Error for tt29354041: 'NoneType' object has no attribute 'text'
Error for tt5029216: 'NoneType' object has no attribute 'span'
Error for tt5281462: 'NoneType' object has no attribute 'span'
Error for tt30768165: 'NoneType' object has no attribute 'text'
Error for tt6346120: 'NoneType' object has no attribute 'span'
Error for tt4907940: 'NoneType' object has no attribute 'text'
Error for tt36458894: 'NoneType' object has no attribute 'span'
Error for tt10370750: 'NoneType' object has no attribute 'text'
Error for tt9871754: 'NoneType' object has no attribute 'text'
Error for tt33131197: 'NoneType' object has no attribute 'text'
Error for tt0050079: 'NoneType' object has no attribute 'text'
Error for tt1988735: 'NoneType' object has no attribute 'span'
Error for tt30406366: 'NoneType' object has no attribute 'text'
Error for tt15790126: 'NoneType' object has no attribute 'text'
Error for tt13899566: 'NoneType' object has no attribute 'text'
Error for tt0039327: 'NoneType' object has no attribute 'span'
Error for tt31778802: 'NoneType' object has no attribute 'text'
Error for tt23790696: 'NoneType' object has no attribute 'span'
Error for tt27522177: 'NoneType' object has no attribute 'text'
Error for tt28331588: 'NoneType' object has no attribute 'span'
Error for tt31190636: 'NoneType' object has no attribute 'span'
Error for tt10042074: 'NoneType' object has no attribute 'text'
Error for tt27719227: 'NoneType' object has no attribute 'text'
Error for tt36458894: 'NoneType' object has no attribute 'span'
Error for tt13847564: 'NoneType' object has no attribute 'text'
Error for tt5316248: 'NoneType' object has no attribute 'span'
Error for tt0396644: 'NoneType' object has no attribute 'span'
Error for tt0278212: 'NoneType' object has no attribute 'text'
Error for tt16154620: 'NoneType' object has no attribute 'span'
Error for tt0844441: 'NoneType' object has no attribute 'text'
Error for tt7781408: 'NoneType' object has no attribute 'text'
Error for tt0118303: 'NoneType' object has no attribute 'text'
Error for tt12798292: 'NoneType' object has no attribute 'text'
Error for tt28281742: 'NoneType' object has no attribute 'text'
Error for tt31918578: 'NoneType' object has no attribute 'span'
Error for tt11784676: 'NoneType' object has no attribute 'text'
Error for tt13556522: 'NoneType' object has no attribute 'span'
Error for tt35851715: 'NoneType' object has no attribute 'span'
Error for tt35671329: 'NoneType' object has no attribute 'text'
Error for tt21146976: 'NoneType' object has no attribute 'text'
Error for tt12452406: 'NoneType' object has no attribute 'text'
Error for tt29361545: 'NoneType' object has no attribute 'text'
Error for tt15236534: 'NoneType' object has no attribute 'text'
Error for tt24053860: 'NoneType' object has no attribute 'text'
Error for tt0215148: 'NoneType' object has no attribute 'span'
Error for tt35339286: 'NoneType' object has no attribute 'span'
Error for tt28856885: 'NoneType' object has no attribute 'text'
Error for tt32614074: 'NoneType' object has no attribute 'text'
Error for tt14155278: 'NoneType' object has no attribute 'span'
Error for tt0316212: 'NoneType' object has no attribute 'span'
Error for tt4911086: 'NoneType' object has no attribute 'span'
Error for tt6468322: 'NoneType' object has no attribute 'text'
Error for tt29999699: 'NoneType' object has no attribute 'span'
Error for tt31012986: 'NoneType' object has no attribute 'text'
Error for tt30623906: 'NoneType' object has no attribute 'span'
Error for tt3811418: 'NoneType' object has no attribute 'text'
Error for tt7227216: 'NoneType' object has no attribute 'text'
Error for tt29594663: 'NoneType' object has no attribute 'text'
Error for tt27719227: 'NoneType' object has no attribute 'text'
Error for tt5958200: 'NoneType' object has no attribute 'text'
Error for tt12788754: 'NoneType' object has no attribute 'text'
Error for tt27205470: 'NoneType' object has no attribute 'span'
Error for tt15096992: 'NoneType' object has no attribute 'span'
Error for tt2869898: 'NoneType' object has no attribute 'text'

In [56]:
Bolly_movies_det_df

,IMDB ID,Movie Name,Rating,Year,Duration,Genres,Cast
0,tt1187043,3 Idiots,8.4,2009,2h 50m,"[Buddy Comedy, Coming-of-Age, Quirky Comedy, S...","[Aamir Khan, Madhavan, Mona Singh, Sharman Jos..."
1,tt0986264,Taare Zameen Par,8.3,2007,2h 42m,"[Coming-of-Age, Drama, Family]","[Darsheel Safary, Aamir Khan, Tisca Chopra, Vi..."
2,tt2338151,PK,8.1,2014,2h 33m,"[Quest, Quirky Comedy, Satire, Comedy, Drama, ...","[Aamir Khan, Anushka Sharma, Sanjay Dutt, Boma..."
3,tt5074352,Dangal,8.3,2016,2h 41m,"[Coming-of-Age, Martial Arts, Action, Biograph...","[Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh..."
4,tt0405508,Rang De Basanti,8.1,2006,2h 47m,"[Political Drama, Tragedy, Comedy, Crime, Drama]","[Aamir Khan, Soha Ali Khan, Siddharth, Sharman..."
...,...,...,...,...,...,...,...
3993,tt8215918,Mehmaan,7.2,2018,20m,"[Drama, Short]","[Saheb Bhattacharjee, Kaushik Sen, Raima Sen]"
3994,tt36005951,None,None,None,None,[],[]
3995,tt0378633,Raadha Aur Seeta,6.3,1979,1h 49m,"[Drama, Family]","[Rajendranath Malhotra, Madan Puri, Leela Mish..."
3996,tt0359129,IPC Section 302,4.1,1975,1h 58m,"[Drama, Mystery]","[Randhir Kapoor, Rekha, Ajit Khan, Ashok Kumar..."
3997,tt3311236,Calapor,5.2,2013,2h,[Drama],"[Hemant Gopal, Trisha Patil, Shantaram Pawar, ..."

In [58]:
Bolly_movies_det_df.isna().sum()

IMDB ID         0
Movie Name    342
Rating        342
Year          342
Duration      768
Genres          0
Cast            0
dtype: int64

In [64]:
null_mov_df

                  Movie Name
20                      None
38                      None
63                      None
99                      None
105                     None
...                      ...
3987              Heera Moti
3989  Maine Jeena Seekh Liya
3990       Swarg Jaisaa Ghar
3992                    None
3994                    None

[768 rows x 1 columns]

In [136]:
Bolly_movies_det_df.loc[3987:4000]

,IMDB ID,Movie Name,Rating,Year,Duration,Genres,Cast
3987,tt0388995,Heera Moti,3.9,1960,None,[Drama],"[Shobha Khote, Ashim Kumar, Kumari Naaz, P. Ka..."
3988,tt0387692,Woh Jo Hasina,5.2,1983,2h 1m,[Romance],"[Mithun Chakraborty, Ranjeeta Kaur, Pran Sikan..."
3989,tt0374016,Maine Jeena Seekh Liya,2.8,1982,None,"[Drama, Romance]","[Mohammad Asif, Rajni Bala, Geeta Behl, Mohan ..."
3990,tt0364039,Swarg Jaisaa Ghar,2.9,1991,None,"[Drama, Family]","[Raj Babbar, Sumeet Saigal, Aashif Sheikh, Ani..."
3991,tt0351552,Phulwari,5.1,1984,2h 38m,"[Drama, Family]","[Debashree Roy, Shashi Puri, Ashok Saraf, Benj..."
3992,tt4897476,None,None,None,None,[],[]
3993,tt8215918,Mehmaan,7.2,2018,20m,"[Drama, Short]","[Saheb Bhattacharjee, Kaushik Sen, Raima Sen]"
3994,tt36005951,None,None,None,None,[],[]
3995,tt0378633,Raadha Aur Seeta,6.3,1979,1h 49m,"[Drama, Family]","[Rajendranath Malhotra, Madan Puri, Leela Mish..."
3996,tt0359129,IPC Section 302,4.1,1975,1h 58m,"[Drama, Mystery]","[Randhir Kapoor, Rekha, Ajit Khan, Ashok Kumar..."
3997,tt3311236,Calapor,5.2,2013,2h,[Drama],"[Hemant Gopal, Trisha Patil, Shantaram Pawar, ..."

In [68]:
Bolly_movies_det_df.to_excel("boly_movies_details.xlsx",index=False)

In [109]:
missing_details=Bolly_movies_det_df.loc[Bolly_movies_det_df["Movie Name"].isnull(),["IMDB ID","Movie Name","Rating","Year","Duration"]]
null_mov_name_ID_df=pd.DataFrame(data=missing_details)

In [99]:
nu_d=null_mov_dr_ID_df.copy()

In [181]:
null_mov_dr_ID_df.loc[890:2000]

         IMDB ID      Movie Name Rating  Year Duration
896    tt1844624            None   None  None     None
897    tt0098878            None   None  None     None
913    tt0157571            None   None  None     None
921   tt27793058            None   None  None     None
935   tt33484749            None   None  None     None
...          ...             ...    ...   ...      ...
1953   tt1127870    Mumbai Salsa    5.1  2007     None
1976   tt0172163  Bambai Ka Babu    4.2  1996     None
1987   tt0358063       Raja Jani    6.5  1972     None
1991  tt32295747            None   None  None     None
1996  tt13899566            None   None  None     None

[117 rows x 5 columns]

In [111]:
null_mov_name_ID_df

         IMDB ID Movie Name Rating  Year Duration
20     tt0105937       None   None  None     None
38    tt24250998       None   None  None     None
63     tt2085059       None   None  None     None
99    tt23872886       None   None  None     None
105    tt7493974       None   None  None     None
...          ...        ...    ...   ...      ...
3947  tt30253363       None   None  None     None
3957   tt1755864       None   None  None     None
3986  tt35671338       None   None  None     None
3992   tt4897476       None   None  None     None
3994  tt36005951       None   None  None     None

[342 rows x 5 columns]

In [125]:
Bolly_movieee=Bolly_movies_det_df.copy()

In [127]:
for imdb_id in null_mov_dr_ID_df["IMDB ID"]:
    try:
        movie_data = get_movie_details(imdb_id)  # your scraping function
        if movie_data:
            # update the original DataFrame if needed
            Bolly_movieee.loc[Bolly_movieee["IMDB ID"] == imdb_id, ["Movie Name", "Rating", "Year", "Duration"]] = \
                movie_data["Movie Name"], movie_data["Rating"], movie_data["Year"], movie_data["Duration"]
    except Exception as e:
        print(f"Error for {imdb_id}: {e}")

Error for tt0105937: data not found
Error for tt24250998: data not found
Error for tt2085059: data not found
Error for tt23872886: data not found
Error for tt7493974: data not found
Error for tt0898266: data not found
Error for tt29868937: data not found
Error for tt19244304: data not found
Error for tt34569030: data not found
Error for tt30972834: data not found
Error for tt1833285: data not found
Error for tt33014566: data not found
Error for tt3561180: data not found
Error for tt27412560: data not found
Error for tt2660806: data not found
Error for tt37544113: data not found
Error for tt37500308: data not found
Error for tt28118211: data not found
Error for tt16098700: data not found
Error for tt12943690: data not found
Error for tt15282136: data not found
Error for tt35417736: data not found
Error for tt1595859: data not found
Error for tt10075030: data not found
Error for tt30037031: data not found
Error for tt0261214: data not found
Error for tt14993810: data not found
Error for tt2403201: data not found
Error for tt13782010: data not found
Error for tt7162800: data not found
Error for tt36726081: data not found
Error for tt9460980: data not found
Error for tt28206749: data not found
Error for tt13016388: data not found
Error for tt0813715: data not found
Error for tt36647444: data not found
Error for tt5648202: data not found
Error for tt0423087: data not found
Error for tt27441481: data not found
Error for tt0944947: data not found
Error for tt2378794: data not found
Error for tt14533970: data not found
Error for tt0182576: data not found
Error for tt5611024: data not found
Error for tt33097900: data not found
Error for tt29921070: data not found
Error for tt37439438: data not found
Error for tt27470250: data not found
Error for tt1844624: data not found
Error for tt0098878: data not found
Error for tt0157571: data not found
Error for tt27793058: data not found
Error for tt33484749: data not found
Error for tt28434292: data not found
Error for tt36984507: data not found
Error for tt15731198: data not found
Error for tt33043892: data not found
Error for tt18333714: data not found
Error for tt35678505: data not found
Error for tt0960141: data not found
Error for tt0093263: data not found
Error for tt8199972: data not found
Error for tt30469812: data not found
Error for tt30037031: data not found
Error for tt5216628: data not found
Error for tt3666564: data not found
Error for tt29380987: data not found
Error for tt10999922: data not found
Error for tt4499570: data not found
Error for tt0251497: data not found
Error for tt5218536: data not found
Error for tt2943834: data not found
Error for tt6366300: data not found
Error for tt23790696: data not found
Error for tt26750284: data not found
Error for tt36871212: data not found
Error for tt0317355: data not found
Error for tt28331588: data not found
Error for tt0472954: data not found
Error for tt9081546: data not found
Error for tt12826712: data not found
Error for tt1706629: data not found
Error for tt5834204: data not found
Error for tt0401916: data not found
Error for tt35360114: data not found
Error for tt0231434: data not found
Error for tt0374848: data not found
Error for tt4455902: data not found
Error for tt0279505: data not found
Error for tt28454758: data not found
Error for tt1592812: data not found
Error for tt0924219: data not found
Error for tt27838483: data not found
Error for tt4158110: data not found
Error for tt0452046: data not found
Error for tt34365591: data not found
Error for tt28450385: data not found
Error for tt31888831: data not found
Error for tt15235948: data not found
Error for tt37543488: data not found
Error for tt13649036: data not found
Error for tt28331588: data not found
Error for tt27809007: data not found
Error for tt0083018: data not found
Error for tt0119862: data not found
Error for tt0084393: data not found
Error for tt8760932: data not found
Error for tt21357868: data not found
Error for tt4116046: data not found
Error for tt30334336: data not found
Error for tt32267726: data not found
Error for tt36632077: data not found
Error for tt28106730: data not found
Error for tt1846278: data not found
Error for tt32656057: data not found
Error for tt0070558: data not found
Error for tt1867070: data not found
Error for tt11191326: data not found
Error for tt27252306: data not found
Error for tt0375021: data not found
Error for tt34678500: data not found
Error for tt2827516: data not found
Error for tt0106206: data not found
Error for tt0875692: data not found
Error for tt0105897: data not found
Error for tt3811418: data not found
Error for tt35667223: data not found
Error for tt14972608: data not found
Error for tt5281462: data not found
Error for tt0445056: data not found
Error for tt13729162: data not found
Error for tt11012288: data not found
Error for tt18969070: data not found
Error for tt22015480: data not found
Error for tt0327005: data not found
Error for tt0102119: data not found
Error for tt0823261: data not found
Error for tt0154578: data not found
Error for tt0121232: data not found
Error for tt15450776: data not found
Error for tt13129104: data not found
Error for tt0155997: data not found
Error for tt37455125: data not found
Error for tt0338566: data not found
Error for tt0101432: data not found
Error for tt5567494: data not found
Error for tt2941856: data not found
Error for tt28106730: data not found
Error for tt0286504: data not found
Error for tt22015488: data not found
Error for tt30768165: data not found
Error for tt32613166: data not found
Error for tt1610418: data not found
Error for tt9045374: data not found
Error for tt36958075: data not found
Error for tt12028552: data not found
Error for tt7056864: data not found
Error for tt0321067: data not found
Error for tt0231434: data not found
Error for tt21438786: data not found
Error for tt1127870: data not found
Error for tt0172163: data not found
Error for tt0358063: data not found
Error for tt32295747: data not found
Error for tt13899566: data not found
Error for tt0100539: data not found
Error for tt0086765: data not found
Error for tt0816382: data not found
Error for tt3005850: data not found
Error for tt6742294: data not found
Error for tt21267694: data not found
Error for tt27669258: data not found
Error for tt27665537: data not found
Error for tt16410434: data not found
Error for tt29432290: data not found
Error for tt19788500: data not found
Error for tt0154390: data not found
Error for tt2100543: data not found
Error for tt0247910: data not found
Error for tt36986398: data not found
Error for tt12747638: data not found
Error for tt0232169: data not found
Error for tt35671329: data not found
Error for tt27669298: data not found
Error for tt0086892: data not found
Error for tt6906338: data not found
Error for tt0338721: data not found
Error for tt30643592: data not found
Error for tt0182637: data not found
Error for tt6627624: data not found
Error for tt21058204: data not found
Error for tt5151622: data not found
Error for tt2764752: data not found
Error for tt0111537: data not found
Error for tt37537307: data not found
Error for tt0119295: data not found
Error for tt14533970: data not found
Error for tt0055406: data not found
Error for tt36751842: data not found
Error for tt31260989: data not found
Error for tt0361772: data not found
Error for tt33310385: data not found
Error for tt0087975: data not found
Error for tt0390732: data not found
Error for tt18070898: data not found
Error for tt11785862: data not found
Error for tt29432290: data not found
Error for tt0363887: data not found
Error for tt0129422: data not found
Error for tt35667223: data not found
Error for tt12264352: data not found
Error for tt16751542: data not found
Error for tt0182468: data not found
Error for tt0361746: data not found
Error for tt36727307: data not found
Error for tt2637518: data not found
Error for tt0286707: data not found
Error for tt28057495: data not found
Error for tt2112978: data not found
Error for tt0216000: data not found
Error for tt0175448: data not found
Error for tt0157965: data not found
Error for tt1241334: data not found
Error for tt0245922: data not found
Error for tt0273535: data not found
Error for tt24031860: data not found
Error for tt0186838: data not found
Error for tt0157545: data not found
Error for tt28281742: data not found
Error for tt0414503: data not found
Error for tt7053188: data not found
Error for tt2404721: data not found
Error for tt1876868: data not found
Error for tt35064818: data not found
Error for tt12257626: data not found
Error for tt10745584: data not found
Error for tt8779792: data not found
Error for tt15815172: data not found
Error for tt37023352: data not found
Error for tt37353578: data not found
Error for tt0155227: data not found
Error for tt0272735: data not found
Error for tt0152729: data not found
Error for tt1368453: data not found
Error for tt28281742: data not found
Error for tt0318405: data not found
Error for tt1630613: data not found
Error for tt0177502: data not found
Error for tt0989775: data not found
Error for tt0317985: data not found
Error for tt0359552: data not found
Error for tt0068532: data not found
Error for tt0162065: data not found
Error for tt0108109: data not found
Error for tt0352489: data not found
Error for tt1127220: data not found
Error for tt0379299: data not found
Error for tt2015304: data not found
Error for tt0155775: data not found
Error for tt35518951: data not found
Error for tt0284056: data not found
Error for tt0231469: data not found
Error for tt10742800: data not found
Error for tt1579530: data not found
Error for tt1634526: data not found
Error for tt1986813: data not found
Error for tt0172646: data not found
Error for tt14820482: data not found
Error for tt9710650: data not found
Error for tt0156651: data not found
Error for tt0093604: data not found
Error for tt36709243: data not found
Error for tt0072109: data not found
Error for tt33364212: data not found
Error for tt8749198: data not found
Error for tt0069871: data not found
Error for tt0318562: data not found
Error for tt0444983: data not found
Error for tt0258647: data not found
Error for tt2185084: data not found
Error for tt0379250: data not found
Error for tt0260144: data not found
Error for tt0175756: data not found
Error for tt2698460: data not found
Error for tt0092599: data not found
Error for tt37563467: data not found
Error for tt0057409: data not found
Error for tt32292401: data not found
Error for tt1606162: data not found
Error for tt8925506: data not found
Error for tt3418990: data not found
Error for tt0154563: data not found
Error for tt0049243: data not found
Error for tt0055406: data not found
Error for tt0099929: data not found
Error for tt2014294: data not found
Error for tt7448208: data not found
Error for tt0048181: data not found
Error for tt0175908: data not found
Error for tt3890300: data not found
Error for tt35443400: data not found
Error for tt4695526: data not found
Error for tt10590436: data not found
Error for tt0154788: data not found
Error for tt0309087: data not found
Error for tt0114232: data not found
Error for tt14972608: data not found
Error for tt33478422: data not found
Error for tt0157729: data not found
Error for tt0317699: data not found
Error for tt0172617: data not found
Error for tt12452406: data not found
Error for tt0078761: data not found
Error for tt1353093: data not found
Error for tt2951562: data not found
Error for tt0384608: data not found
Error for tt1492090: data not found
Error for tt0405852: data not found
Error for tt1948047: data not found
Error for tt3212600: data not found
Error for tt0280396: data not found
Error for tt0154413: data not found
Error for tt0158071: data not found
Error for tt0395779: data not found
Error for tt0466398: data not found
Error for tt0813539: data not found
Error for tt0187338: data not found
Error for tt4907940: data not found
Error for tt11591580: data not found
Error for tt0214663: data not found
Error for tt5423602: data not found
Error for tt2560140: data not found
Error for tt33484271: data not found
Error for tt0154532: data not found
Error for tt0401916: data not found
Error for tt14821284: data not found
Error for tt36507686: data not found
Error for tt0247291: data not found
Error for tt0456800: data not found
Error for tt29438133: data not found
Error for tt0353555: data not found
Error for tt12788754: data not found
Error for tt29361747: data not found
Error for tt0067553: data not found
Error for tt0122173: data not found
Error for tt21331948: data not found
Error for tt0056232: data not found
Error for tt0215713: data not found
Error for tt0287152: data not found
Error for tt0944947: data not found
Error for tt1046978: data not found
Error for tt5581432: data not found
Error for tt0118297: data not found
Error for tt0348644: data not found
Error for tt0350604: data not found
Error for tt0399530: data not found
Error for tt0258647: data not found
Error for tt0251053: data not found
Error for tt0154446: data not found
Error for tt1479857: data not found
Error for tt0091233: data not found
Error for tt0357819: data not found
Error for tt0071541: data not found
Error for tt0318584: data not found
Error for tt2613942: data not found
Error for tt8706902: data not found
Error for tt0157974: data not found
Error for tt0233146: data not found
Error for tt0076515: data not found
Error for tt28856885: data not found
Error for tt0232626: data not found
Error for tt0102073: data not found
Error for tt1821692: data not found
Error for tt0060028: data not found
Error for tt36966906: data not found
Error for tt0259571: data not found
Error for tt0246700: data not found
Error for tt17065486: data not found
Error for tt21245840: data not found
Error for tt0231226: data not found
Error for tt0377496: data not found
Error for tt0367927: data not found
Error for tt11784676: data not found
Error for tt31013650: data not found
Error for tt0172488: data not found
Error for tt0112876: data not found
Error for tt6352572: data not found
Error for tt0354503: data not found
Error for tt0055949: data not found
Error for tt0366696: data not found
Error for tt0187344: data not found
Error for tt26787362: data not found
Error for tt2015304: data not found
Error for tt0090577: data not found
Error for tt4094820: data not found
Error for tt0359473: data not found
Error for tt0065903: data not found
Error for tt35674392: data not found
Error for tt0230978: data not found
Error for tt0242879: data not found
Error for tt0066589: data not found
Error for tt9420618: data not found
Error for tt0449892: data not found
Error for tt0154311: data not found
Error for tt0455199: data not found
Error for tt0158047: data not found
Error for tt9543718: data not found
Error for tt0155846: data not found
Error for tt28641477: data not found
Error for tt0359962: data not found
Error for tt0403276: data not found
Error for tt0266456: data not found
Error for tt0239654: data not found
Error for tt1267400: data not found
Error for tt0093604: data not found
Error for tt36751842: data not found
Error for tt0158026: data not found
Error for tt29244333: data not found
Error for tt28630806: data not found
Error for tt0386556: data not found
Error for tt30623906: data not found
Error for tt35826397: data not found
Error for tt0109246: data not found
Error for tt0139116: data not found
Error for tt0039129: data not found
Error for tt1934806: data not found
Error for tt35950180: data not found
Error for tt9814458: data not found
Error for tt0154143: data not found
Error for tt0073112: data not found
Error for tt0317355: data not found
Error for tt10635440: data not found
Error for tt0423100: data not found
Error for tt0233281: data not found
Error for tt0158047: data not found
Error for tt35568239: data not found
Error for tt0317637: data not found
Error for tt0260156: data not found
Error for tt7631058: data not found
Error for tt0232291: data not found
Error for tt0359684: data not found
Error for tt26673551: data not found
Error for tt0250353: data not found
Error for tt0358108: data not found
Error for tt30623906: data not found
Error for tt0243333: data not found
Error for tt13771814: data not found
Error for tt32292401: data not found
Error for tt0230498: data not found
Error for tt0308640: data not found
Error for tt0313971: data not found
Error for tt0078761: data not found
Error for tt0283844: data not found
Error for tt29354041: data not found
Error for tt5029216: data not found
Error for tt5281462: data not found
Error for tt0368243: data not found
Error for tt0271421: data not found
Error for tt0103304: data not found
Error for tt0158293: data not found
Error for tt0344301: data not found
Error for tt0286891: data not found
Error for tt0379249: data not found
Error for tt0250121: data not found
Error for tt30768165: data not found
Error for tt6346120: data not found
Error for tt0154104: data not found
Error for tt2404187: data not found
Error for tt4200106: data not found
Error for tt4907940: data not found
Error for tt36458894: data not found
Error for tt10370750: data not found
Error for tt0053566: data not found
Error for tt0084393: data not found
Error for tt0176101: data not found
Error for tt9871754: data not found
Error for tt33131197: data not found
Error for tt0097513: data not found
Error for tt0270299: data not found
Error for tt0050079: data not found
Error for tt1988735: data not found
Error for tt0149857: data not found
Error for tt30406366: data not found
Error for tt0352457: data not found
Error for tt0316190: data not found
Error for tt15790126: data not found
Error for tt0940881: data not found
Error for tt13899566: data not found
Error for tt0039327: data not found
Error for tt0358926: data not found
Error for tt0205189: data not found
Error for tt0089582: data not found
Error for tt31778802: data not found
Error for tt0175497: data not found
Error for tt0108109: data not found
Error for tt23790696: data not found
Error for tt27522177: data not found
Error for tt28331588: data not found
Error for tt0359965: data not found
Error for tt0432506: data not found
Error for tt0234412: data not found
Error for tt31190636: data not found
Error for tt10042074: data not found
Error for tt27719227: data not found
Error for tt0175651: data not found
Error for tt36458894: data not found
Error for tt0176272: data not found
Error for tt0354416: data not found
Error for tt0175590: data not found
Error for tt1620971: data not found
Error for tt0064528: data not found
Error for tt13847564: data not found
Error for tt0448392: data not found
Error for tt0359168: data not found
Error for tt5316248: data not found
Error for tt0302479: data not found
Error for tt0442601: data not found
Error for tt0178183: data not found
Error for tt0364218: data not found
Error for tt0396644: data not found
Error for tt0359552: data not found
Error for tt0418698: data not found
Error for tt0175564: data not found
Error for tt2402745: data not found
Error for tt0278212: data not found
Error for tt16154620: data not found
Error for tt0844441: data not found
Error for tt0113185: data not found
Error for tt0359657: data not found
Error for tt0315292: data not found
Error for tt0073923: data not found
Error for tt0349382: data not found
Error for tt0107867: data not found
Error for tt0360911: data not found
Error for tt0271432: data not found
Error for tt7781408: data not found
Error for tt0178174: data not found
Error for tt0260097: data not found
Error for tt0206054: data not found
Error for tt0215717: data not found
Error for tt0357769: data not found
Error for tt0118303: data not found
Error for tt12798292: data not found
Error for tt0156340: data not found
Error for tt28281742: data not found
Error for tt31918578: data not found
Error for tt11784676: data not found
Error for tt0260217: data not found
Error for tt0155135: data not found
Error for tt0373887: data not found

In [131]:
Bolly_movieee.isna().sum()

IMDB ID         0
Movie Name    342
Rating        342
Year          342
Duration      768
Genres          0
Cast            0
dtype: int64

# without duration

In [185]:
without_duration=Bolly_movies_det_df.copy()

In [189]:
without_duration_details=without_duration.drop(labels="Duration",axis=1)

In [191]:
without_duration_details

,IMDB ID,Movie Name,Rating,Year,Genres,Cast
0,tt1187043,3 Idiots,8.4,2009,"[Buddy Comedy, Coming-of-Age, Quirky Comedy, S...","[Aamir Khan, Madhavan, Mona Singh, Sharman Jos..."
1,tt0986264,Taare Zameen Par,8.3,2007,"[Coming-of-Age, Drama, Family]","[Darsheel Safary, Aamir Khan, Tisca Chopra, Vi..."
2,tt2338151,PK,8.1,2014,"[Quest, Quirky Comedy, Satire, Comedy, Drama, ...","[Aamir Khan, Anushka Sharma, Sanjay Dutt, Boma..."
3,tt5074352,Dangal,8.3,2016,"[Coming-of-Age, Martial Arts, Action, Biograph...","[Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh..."
4,tt0405508,Rang De Basanti,8.1,2006,"[Political Drama, Tragedy, Comedy, Crime, Drama]","[Aamir Khan, Soha Ali Khan, Siddharth, Sharman..."
...,...,...,...,...,...,...
3993,tt8215918,Mehmaan,7.2,2018,"[Drama, Short]","[Saheb Bhattacharjee, Kaushik Sen, Raima Sen]"
3994,tt36005951,None,None,None,[],[]
3995,tt0378633,Raadha Aur Seeta,6.3,1979,"[Drama, Family]","[Rajendranath Malhotra, Madan Puri, Leela Mish..."
3996,tt0359129,IPC Section 302,4.1,1975,"[Drama, Mystery]","[Randhir Kapoor, Rekha, Ajit Khan, Ashok Kumar..."
3997,tt3311236,Calapor,5.2,2013,[Drama],"[Hemant Gopal, Trisha Patil, Shantaram Pawar, ..."

In [193]:
without_duration_details.isna().sum()

IMDB ID         0
Movie Name    342
Rating        342
Year          342
Genres          0
Cast            0
dtype: int64

In [195]:
without_duration_details.to_excel("Bollywood_movies_without_duration_details.xlsx",index=False)